
<footer class="container-fluid bg-white custom-navbar mt-5">
	<hr>
	<div class="row">
		<section class="col">
			<a class="navbar-brand  mx-4">
                <img src="{{ asset('images/Logo rond_vert.png') }}" alt="Logo" width="90" height="70">
            </a>
            <a class="nav-link footlinks text-start" > <br> 	&nbsp;07 11 22 33 44</a>

		</section>
		<section class="col text-center">
			 <a class="nav-link footlinks mt-4" >suivez-nous</a>
			 <i class="bi bi-tiktok s-icone"></i>
			 <i class="bi bi-facebook s-icone"></i>
			 <i class="bi bi-instagram s-icone"></i>
		</section>
		<section class="col text-center">
			 <a class="nav-link footlinks  " >infos légales</a>
			  <a class="nav-link footlinks " >livraison et retour</a>
			  <a class="nav-link footlinks " >politique de confidentialité</a>
		</section>
	</div>
</footer>
