{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h1>Edit Order</h1>

    {{ include('admin_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_order_index') }}">retour à la liste</a>

    {{ include('admin_order/_delete_form.html.twig') }}
{% endblock %}
