{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block body %}
	<style></style>

	<div class="container">
		<h1>Liste de nos categories</h1>
		<div class="row mb-4">
            {% for categorie in categories %}
				{% if categorie.isVerified %}  
				<div class="col-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{categorie.name}}</h5>
                            <a href="{{ path('app_boutique_show', { 'id' : categorie.id }) }}" class="btn btn-primary">Voir plus</a>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>

	</div>
{% endblock %}
