{% extends 'base.html.twig' %}

{% block title %}Nouveau Message{% endblock %}

{% block body %}
    <h1>Envoyer un nouveau message</h1>
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <button class="btn">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
